
<div style="min-width: 700px">
  <div class="container d-flex flex-column justify-content-center my-5"
    style="border: 1px solid black; border-radius: 20px; width: 500px;">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <h2 class="my-4">登录页面</h2>

      <% if alert %>
        <div class="alert alert-danger d-flex mb-4 px-4" style="border: 1px solid darkred; height: 50px;" role="alert">
          <h5 style="font-size: 16px;"><%= alert %></h5>
        </div>
      <% end %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field d-flex align-items-center mt-2 mb-4">
          <div class="me-4" style="width: 50px;">
            <%= f.label "账户", :class => "form-label" %>
          </div>

          <%= f.text_field :login, autofocus: true, autocomplete: "email", 
              :class => "form-control", :placeholder => "邮箱 / 用户名", :style => "width: 250px;", :required => 'required' %>
        </div>

        <div class="field d-flex align-items-center mb-4">
          <div class="me-4" style="width: 50px;">
            <%= f.label "密码", :class => "form-label" %>
          </div>
          <%= f.password_field :password, autocomplete: "current-password", 
              :class => "form-control", :style => "width: 250px;", :required => 'required' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field d-flex justify-content-center align-items-center mb-4">
            <div style="width: 25px;"><%= f.check_box :remember_me %></div>
            <%= f.label "请记住我" %>
          </div>
        <% end %>

        <div class="actions d-flex justify-content-center">
          <%= f.submit "登录", :class => "btn btn-dark" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>