<div class="d-flex ms-5 mt-5">
  <h2 style="color: black;">订单详情</h2>
</div>

<div class="mx-5 mb-5" style="min-width: 700px">  
  <div class="d-flex flex-column justify-content-center mt-4"
    style="background-color: #F5F5F5; border-radius: 20px;">
    <div class="m-2 mt-4 ms-4 mb-0 d-flex">
      <div class="d-flex mx-3 mb-3">
        <%= link_to orders_path, style: "text-decoration: none; color: black;", method: :get do %>
          <h4 style="font-size: 18px;"> < 返回 </h4>
        <% end %>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column justify-content-center mt-4"
    style="background-color: #F5F5F5; border-radius: 20px;">
    <div class="m-4" style="display: flex; flex-direction: column;">
      <div class="ms-3 mb-2">
        <span style="color: grey; font-size: 14px;"> 订单 id: </span>
        <span style="color: grey; font-size: 15px;"><%= @order.id %> </span>
      </div>

      <div class="d-flex mx-3 mb-3">
        <h4 style="font-size: 24px; margin-top: 4px;"> 收件信息 </h4>
      </div>

      <div class="d-flex mx-3">
        <h5 style="font-size: 18px;"> <%= @order.delivery_name %> </h5>
      </div>

      <div class="d-flex mx-3">
        <span style="font-size: 16px; color: grey;"> <%= @order.delivery_phone %> </span>
      </div>

      <div class="d-flex mx-3">
        <span style="font-size: 16px; color: grey;"> <%= @order.delivery_address %> </span>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column justify-content-center mt-4"
    style="background-color: #F5F5F5; border-radius: 20px;">
    <div class="mx-4" style="display: flex; flex-direction: column; margin-bottom: 35px;">
      <% @s_orders = SOrder.where(order_id: @order.id) %>

      <% @s_orders.each do |s_order| %>
        <% @s_order_product = Product.find_by(id: s_order.product_id) %>

        <div class="d-flex flex-column">
          <div class="ms-3 mt-4 mb-2">
            <span style="color: grey; font-size: 14px;"> 子订单 id: </span>
            <span style="color: grey; font-size: 15px;"><%= s_order.id %> </span>
          </div>

          <div class="d-flex flex-column">
            <div class="d-flex">
              <div class="ms-3">
                <img src="<%= (url_for(@s_order_product.image_dir)) %>" style="height: 8rem; width: 8rem; border-radius: 20px;" alt="...">
              </div>
              
              <div class="d-flex flex-column ms-3">
                <div class="ms-1 mt-1 mb-2" style="font-size: 18px;">
                  <span><%= @s_order_product.name %></span>
                </div>

                <div class="ms-1">
                  <span>x<%= s_order.quantity %></span>
                </div>

                <div class="ms-1 mt-2">
                  <h5 style="font-size: 20px; color: #01528A">¥ <%= s_order.price.to_f %></h5>
                </div>

                <div class="ms-1">
                  <% if s_order.status == "Paid" %>
                    <span style="font-size: 14px; color: green">已付款</span>
                  <% elsif s_order.status == "Shipped" %>
                    <span style="font-size: 14px; color: green">已发货</span>
                  <% elsif s_order.status == "Delivered" %>
                    <span style="font-size: 14px; color: green">已签收</span>
                  <% elsif s_order.status == "Completed" %>
                    <span style="font-size: 14px; color: green">已完成</span>
                  <% elsif s_order.status == "Cancelled" %>
                    <span style="font-size: 14px; color: darkred">已取消</span>  
                  <% end %>
                </div>
              </div>
            </div>

            <% if s_order.status == "Completed" %>
              <div class="d-flex ms-3 mt-2">
                <!-- comment form here -->
                <div class="d-flex flex-column">
                  <% @comment = Comment.find_by(user_id: current_user.id, s_order_id: s_order.id) %>

                  <% if @comment.nil? %>
                    <% @comment = Comment.new %>
                    <%= form_with(model: @comment) do |form| %>
                      <%= form.hidden_field :user_id, value: current_user.id %>
                      <%= form.hidden_field :product_id, value: @s_order_product.id %>
                      <%= form.hidden_field :s_order_id, value: s_order.id %>
                      <%= form.hidden_field :seller_id, value: @s_order_product.user_id %>
                  
                      <div>
                        <div class="d-flex mt-1 mb-2">
                          <div class="me-3">
                            <label for="comment" style="color:grey; font-size: 14px;">评价</label>
                          </div>

                          <div class="me-3 d-flex align-items-center">
                            <%= form.radio_button :rating, 1 %> <div class="ms-1">1</div>
                          </div>

                          <div class="me-3 d-flex align-items-center">
                            <%= form.radio_button :rating, 2 %> <div class="ms-1">2</div>
                          </div>

                          <div class="me-3 d-flex align-items-center">
                            <%= form.radio_button :rating, 3 %> <div class="ms-1">3</div>
                          </div>

                          <div class="me-3 d-flex align-items-center">
                            <%= form.radio_button :rating, 4 %> <div class="ms-1">4</div>
                          </div>

                          <div class="d-flex align-items-center">
                            <%= form.radio_button :rating, 5, :checked => true %> <div class="ms-1">5</div>
                          </div>
                        </div>
                        
                        <div class="d-flex">
                          <div>
                            <%= form.text_area :description, :class => "form-control", style: "width: 300px; min-height: 70px;" %>
                          </div>

                          <div class="actions ms-2">
                            <%= form.submit "提交", :class => "btn btn-dark" %>
                          </div>
                        </div>
                      </div>

                    <% end %>
                  <% else %>
                    <div class="d-flex flex-column">
                      <div>
                        <span style="font-size: 12px; color: grey;"> 您已为此子订单评价过了哦。 </span>
                      </div>

                      <div class="d-flex">
                        <span style="font-size: 13px; color: grey;">
                          <%= @comment.rating %> 星 | <%= @comment.description%>
                        </span>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="d-flex flex-column justify-content-center mt-4"
    style="background-color: #F5F5F5; border-radius: 20px;">
    <div class="mx-4" style="display: flex; flex-direction: column;">
      <div class="d-flex ms-3 mt-4">
        <div class="me-4" style="margin-top: 1px;">
          <h5> 订单总额: </h5>
        </div>

        <div>
          <h5 style="color: #01528A; font-size: 22px;">¥ <%= @order.deal_sum %> </h5>
        </div>
      </div>

      <div class="ms-3 mt-2 mb-4">
        <!-- cancel order & confirm complete -->
        <% @s_orders = SOrder.where(order_id: @order.id) %>
        <% @cancellable = true %>
        <% @completable = true %>

        <% @s_orders.each do |s_order| %>
          <% if s_order.status != "Paid" %>
            <!-- non-cancellable if anything shipped -->
            <% @cancellable = false %>
          <% end %>

          <% if s_order.status != "Delivered" %>
            <!-- non-completable if anything not delivered -->
            <% @completable = false %>
          <% end %>
        <% end %>

        <% if @completable %>
          <%= link_to is_completed_order_path, style:"text-decoration: none;", method: :post do %>
            <button class="btn" style="background-color: black;">   
              <div>
                <span style="color: white;"> 完成订单 </span>
              </div>
            </button>
          <% end %>
        <% else %>
          <button class="btn disabled" style="background-color: grey; cursor: pointer;">   
            <div>
              <span style="color: white;"> 完成订单 </span>
            </div>
          </button>
        <% end %>

        <% if @cancellable %>
          <%= link_to is_cancelled_order_path, method: :post do %>
            <button class="btn ms-3" style="background-color: darkred;">   
              <div>
                <span style="color: white;"> 取消订单 </span>
              </div>
            </button>
          <% end %>
        <% else %>
          <button class="btn disabled ms-3" style="background-color: grey; cursor: pointer;">   
            <div>
              <span style="color: white;"> 取消订单 </span>
            </div>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>