<!DOCTYPE html>
<html>
  <head>
    <title>JShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-white d-flex justify-content-end mt-2" style="min-width: 700px;">
      <div class="float-right d-flex flex-row-reverse">
        <!-- login buttons -->
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <button class="btn btn-outline-dark" type="submit" style="margin-right: 20px; text-decoration: none !important;">登出</button>
          <% end %>

          <%= link_to edit_user_registration_path, method: :get do %>
            <button class="btn btn-primary" type="submit" style="margin-right: 20px;"> <%= current_user.username %> </button>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, method: :get do %>
              <button class="btn btn-outline-dark" type="submit" style="margin-right: 20px; text-decoration: none !important;">登录</button>
          <% end %>

          <%= link_to new_user_registration_path, method: :get do %>
              <button class="btn btn-secondary" type="submit" style="margin-right: 20px">注册</button>
          <% end %>
        <% end %>
      </div>
    </nav>

    <nav class="navbar navbar-light bg-white" style="min-width: 700px; border-bottom: 1px solid grey">
      <a class="navbar-brand" href="/">
        <%= image_tag 'logo.png', style: 'height:40px; width:80px; margin-left: 20px;' %>
      </a>

      <form class="form-inline d-flex align-items-center">
        <input class="form-control" style="height: 40px;" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 mx-3 ml-3" type="submit">Search</button>
      </form>

      <div>
        <% if user_signed_in? %>
          <% if current_user.role == 1 %>
            <!-- fav, cart -->
            <div class="d-flex">
              <div class="d-flex align-items-center">
                <!-- link to fav page later-->
                <%= link_to new_user_session_path, method: :get do %>
                  <div>
                    <%= image_tag 'heart.png', style: 'height:25px; width:25px; margin-right: 25px;' %>
                  </div>
                <% end %>
              </div>

              <div>
                <!-- link to cart page later-->
                <%= link_to new_user_session_path, method: :get do %>
                  <div>
                    <%= image_tag 'cart.png', style: 'height:25px; width:25px; margin-right: 25px;' %>
                  </div>
                <% end %>
              </div>
            </div>
          <% elsif current_user.role == 2 %>
            <!-- addItem, orders -->
            <div class="d-flex">
              <div class="d-flex align-items-center">
                <!-- link to add item page later-->
                <%= link_to new_user_session_path, method: :get do %>
                  <div>
                    <%= image_tag 'plus.png', style: 'height:20px; width:20px; margin-right: 25px;' %>
                  </div>
                <% end %>
              </div>

              <div>
                <!-- link to order list page later-->
                <%= link_to new_user_session_path, method: :get do %>
                  <div>
                    <%= image_tag 'order.png', style: 'height:25px; width:25px; margin-right: 25px;' %>
                  </div>
                <% end %>
              </div>
            </div>
          <% elsif current_user.role == 3 %>
            <!-- notifications -->
          <% end %>
        <% else %>
          <!-- fav, cart, but login required -->
          <div class="d-flex">
            <div class="d-flex align-items-center">
              <%= link_to new_user_session_path, method: :get do %>
                <div>
                  <%= image_tag 'heart.png', style: 'height:25px; width:25px; margin-right: 25px;' %>
                </div>
              <% end %>
            </div>

            <div>
              <%= link_to new_user_session_path, method: :get do %>
                <div>
                  <%= image_tag 'cart.png', style: 'height:25px; width:25px; margin-right: 25px;' %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </nav>
    

    <%# <p class="notice"><%= notice</p> %>
    
    <%= yield %>

    <nav class="navbar navbar-light bg-white d-flex justify-content-center" style="height: 80px; min-width: 700px; border-top: 1px solid grey">
      <p style="color:grey">JShop by 79066013 陈嘉骏</p>
    </nav>
  </body>
</html>
