<%= form_with(model: followship) do |form| %>
  <% if followship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(followship.errors.count, "error") %> prohibited this followship from being saved:</h2>

      <ul>
        <% followship.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :shop_id %>
    <%= form.text_field :shop_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
