<div class="mx-5" style="min-width: 700px">
  <% if user_signed_in? %>
    <% if current_user.role == 2 %>
      <% if @product.user_id == current_user.id %>
        <div class="d-flex flex-column justify-content-center my-5 mb-4"
            style="background-color: #F5F5F5; border-radius: 20px;">
          <div class="m-4 d-flex flex-column">
            <span class="ms-1"> 这是您所上架的商品。 </span>

            <div class="d-flex align-items-center">
              <div>
                <%= link_to edit_product_path, method: :get do %>
                  <button class="btn mt-3" style="background-color: black;"> 
                    <span style="color: white; font-size: 16px;"> 修改商品信息 </span>
                  </button>
                <% end %>
              </div>

              <div>
                <%= link_to @product, method: :delete, data: {confirm: "你确定吗？"} do %>
                  <button class="btn ms-3 mt-3" style="background-color:darkred;">
                    <span style="color: white; font-size: 16px;"> 删除商品 </span>
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end%>

  <% if user_signed_in? %>
    <% if current_user.role == 1 %>
  <div class="d-flex flex-column justify-content-center my-5 mb-4"
    style="background-color: #F5F5F5; border-radius: 20px;">
    <% elsif current_user.role == 2 %>
      <% if @product.user_id == current_user.id %>
  <div class="d-flex flex-column justify-content-center mb-4"
    style="background-color: #F5F5F5; border-radius: 20px;">
      <% else %>
  <div class="d-flex flex-column justify-content-center my-5 mb-4"
    style="background-color: #F5F5F5; border-radius: 20px;">
      <% end %>
    <% end %>
  <% else %>
  <div class="d-flex flex-column justify-content-center my-5 mb-4"
    style="background-color: #F5F5F5; border-radius: 20px;">
  <% end %>
    <div class="m-4 d-flex flex-column">
      <div class="d-flex">
        <div class="me-2">
          <% if @product.image_dir.attached? %>
            <img src="<%= (url_for(@product.image_dir)) %>" style="height: 20rem; width: 20rem; border-radius: 20px;">
          <% end %>
        </div>

        <div class="ms-4 mt-1 d-flex flex-column">
          <div style="height: 50px;">
            <p style="font-size: 30px;">
              <%= @product.name %>
            </p>
          </div>

          <div>
            <p class="ms-1 mt-1" style="font-size: 22px;">
              ¥ <%= @product.price.to_f %>
            </p>
          </div>

          <div class="d-flex align-items-center">
            <div class="me-3">
              <% if user_signed_in? %>
                <% if current_user.role == 1 %>
                  <%= link_to carts_path(:user_id => current_user.id, :product_id => @product.id, :quantity => 1), method: :post do %>
                    <button class="btn" style="background-color: tan;"> 
                      <div>
                        <%= image_tag 'white-cart.png', style: 'height:23px; width:23px;' %>
                      </div>
                    </button>
                  <% end %>
                <% elsif current_user.role == 2 %>
                  <button class="btn" style="background-color: tan; cursor: default;"> 
                    <div>
                      <%= image_tag 'white-cart.png', style: 'height:23px; width:23px;' %>
                    </div>
                  </button>
                <% end %>
              <% else %>
                <%= link_to new_user_session_path, method: :get do %>
                  <button class="btn" style="background-color: tan;"> 
                    <div>
                      <%= image_tag 'white-cart.png', style: 'height:23px; width:23px;' %>
                    </div>
                  </button>
                <% end %>
              <% end %>
            </div>

            <div class="me-3">
              <% if user_signed_in? %>
                <% if current_user.role == 1 %>
                  <%= link_to favorites_path(:user_id => current_user.id, :product_id => @product.id), method: :post do %>
                    <button class="btn" style="background-color: pink;"> 
                      <div>
                        <%= image_tag 'fav.png', style: 'height:23px; width:23px;' %>
                      </div>
                    </button>
                  <% end %>
                <% elsif current_user.role == 2 %>
                  <button class="btn" style="background-color: pink; cursor: default;"> 
                    <div>
                      <%= image_tag 'fav.png', style: 'height:23px; width:23px;' %>
                    </div>
                  </button>
                <% end %>
              <% else %>
                <%= link_to new_user_session_path, method: :get do %>
                  <button class="btn" style="background-color:pink; ">
                    <div>
                      <%= image_tag 'fav.png', style: 'height:23px; width:23px;' %>
                    </div>
                  </button>
                <% end %>
              <% end %>
            </div>

            <div>
              <!-- todo report button-->
              <% if user_signed_in? %>
                <% if current_user.role == 1 %>
                    <!-- links todo -->
                    <button class="btn" type="button" data-toggle="modal" data-target="#exampleModalCenter" style="background-color: darkred;"> 
                      <div>
                        <%= image_tag 'report.png', style: 'height:23px; width:23px;' %>
                      </div>
                    </button>

                <% elsif current_user.role == 2 %>
                  <button class="btn" style="background-color: darkred; cursor: default;"> 
                    <div>
                      <%= image_tag 'report.png', style: 'height:23px; width:23px;' %>
                    </div>
                  </button>
                <% end %>
              <% else %>
                <%= link_to new_user_session_path, method: :get do %>
                  <button class="btn" style="background-color: darkred; ">
                    <div>
                      <%= image_tag 'report.png', style: 'height:23px; width:23px;' %>
                    </div>
                  </button>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
   </div>
  </div>

  <div class="d-flex flex-column mb-4"
    style="background-color: #F5F5F5; border-radius: 20px;">
    <div class="m-4 mb-2 d-flex flex-column">
      <div class="mb-4 d-flex align-items-center">
        <% @product_shop = Shop.find_by(user_id: @product.user_id) %>

        <%= link_to @product_shop, method: :get do %>
          <button class="btn me-4" style="background-color: #C4DFFB;"> 
            <div>
              <%= image_tag 'store.png', style: 'height:23px; width:23px; margin-right: 5px;' %>
              <%= @product.seller_username %>
            </div>
          </button>
        <% end %>

        <%= image_tag 'clock.png', style: 'height:16px; width:16px; margin-right: 8px;' %>
        <div style="color: grey; font-size: 15px;">
        <%= time_ago_in_words @product.created_at %>
        </div>
      </div>

      <h4 style="font-size: 20px;">商品详情</h4>

      <p class="mt-2">
        <strong>收藏人数：</strong>
        <%= @product.favorites.count %>
      </p>

      <p>
        <strong>已售出：</strong>
        <%= @product.sales %>
      </p>


      <h4 class="mt-4" style="font-size: 20px;">商品描述</h4>
      <p class="mt-2">
        <%= @product.description %>
      </p>
    </div>
  </div>

  <div class="d-flex flex-column mb-5"
    style="background-color: #F5F5F5; border-radius: 20px;">
    <div class="m-4 mb-2 d-flex flex-column">
      <div class="mb-2">
        <h4 style="font-size: 20px;">商品评价</h4>

        <% @comments = Comment.where(product_id: @product.id) %>
        <% @five_comments = Comment.where(product_id: @product.id, rating: 5) %>
        <% @four_comments = Comment.where(product_id: @product.id, rating: 4) %>
        <% @three_comments = Comment.where(product_id: @product.id, rating: 3) %>
        <% @two_comments = Comment.where(product_id: @product.id, rating: 2) %>
        <% @one_comments = Comment.where(product_id: @product.id, rating: 1) %>

        <% if @comments.empty? %>
          <div class="mt-3 mb-2">
            <span style="color:grey; font-size: 14px;"> 此商品目前还未有任何评价。 </span>
          </div>
        <% else %>
          <div class="mt-3 mb-2">
            <div class="d-flex flex-column">
              
              
              <div class="d-flex align-items-center">
                <div class="me-3">
                  <span style="font-size: 13px;"> 5 星 </span>
                </div>

                <div class="progress" style="width: 300px; height: 10px; margin-top: 1px;">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= number_to_percentage(@five_comments.count.to_f / @comments.count.to_f * 100) %>"></div>
                </div>

                <span class="ms-2" style="font-size: 13px; color: grey;"> (<%= @five_comments.count %>) </span>
              </div>

              <div class="d-flex align-items-center">
                <div class="me-3">
                  <span style="font-size: 13px;"> 4 星 </span>
                </div>

                <div class="progress" style="width: 300px; height: 10px; margin-top: 1px;">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= number_to_percentage(@four_comments.count.to_f / @comments.count.to_f * 100) %>"></div>
                </div>

                <span class="ms-2" style="font-size: 13px; color: grey;"> (<%= @four_comments.count %>) </span>
              </div>

              <div class="d-flex align-items-center">
                <div class="me-3">
                  <span style="font-size: 13px;"> 3 星 </span>
                </div>

                <div class="progress" style="width: 300px; height: 10px; margin-top: 1px;">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= number_to_percentage(@three_comments.count.to_f / @comments.count.to_f * 100) %>"></div>
                </div>

                <span class="ms-2" style="font-size: 13px; color: grey;"> (<%= @three_comments.count %>) </span>
              </div>

              <div class="d-flex align-items-center">
                <div class="me-3">
                  <span style="font-size: 13px;"> 2 星 </span>
                </div>

                <div class="progress" style="width: 300px; height: 10px; margin-top: 1px;">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= number_to_percentage(@two_comments.count.to_f / @comments.count.to_f * 100) %>"></div>
                </div>

                <span class="ms-2" style="font-size: 13px; color: grey;"> (<%= @two_comments.count %>) </span>
              </div>

              <div class="d-flex align-items-center">
                <div class="me-3">
                  <span style="font-size: 13px;"> 1 星 </span>
                </div>

                <div class="progress" style="width: 300px; height: 10px; margin-top: 1px;">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= number_to_percentage(@one_comments.count.to_f / @comments.count.to_f * 100) %>"></div>
                </div>
              </div>

              <div class="mt-4">
                <!-- comments filter areas -->
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="pill" href="#home">全部</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ms-2" data-bs-toggle="pill" href="#menu1">5 星</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ms-2" data-bs-toggle="pill" href="#menu2">4 星</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ms-2" data-bs-toggle="pill" href="#menu3">3 星</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ms-2" data-bs-toggle="pill" href="#menu4">2 星</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ms-2" data-bs-toggle="pill" href="#menu5">1 星</a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane ms-2 me-2 mb-3 fade show active" id="home">
                    <% @top_comments = @comments.first(10) %>

                    <% @top_comments.each do |comment| %>
                      <div class="d-flex" style="background-color: white; border-radius: 20px; margin-top: 30px; height: auto; min-width: 450px">
                        <div class="d-flex flex-column m-4 my-3" style="min-width: 500px;">
                          <h5 style="font-size: 18px;"><%= User.find_by(id: comment.user_id).username %></h5>

                          <div class="d-flex mb-3">
                            <% count = 1 %>
                            <% while count <= comment.rating do %>
                              <%= image_tag 'color-star.png', style: 'height:18px; width:18px; margin-right: 3px;' %>
                              <% count = count + 1 %>
                            <% end %>

                            <% while count <= 5 do %>
                              <%= image_tag 'star.png', style: 'height:18px; width:18px; margin-right: 3px;' %>
                              <% count = count + 1 %>
                            <% end %>
                          </div>
                          <span class="mb-2" style="color: black;"><%= comment.description %></span>
                          <span style="font-size: 14px; color: grey;"> <%= comment.created_at %> </span>
                        </div>

                        <div class="mt-3" style="margin-left: 20px;">
                          <button class="btn" style="background-color: darkred; cursor: default;"> 
                            <div>
                              <%= image_tag 'report.png', style: 'height:23px; width:23px;' %>
                            </div>
                          </button>
                        </div>
                      </div>
                    <% end %>
                  </div>

                  <div class="tab-pane ms-2 me-2 mb-3 fade" id="menu1">
                    <% @top_comments = @five_comments.first(10) %>

                    <% @top_comments.each do |comment| %>
                      <div class="d-flex" style="background-color: white; border-radius: 20px; margin-top: 30px; height: auto; min-width: 450px">
                        <div class="d-flex flex-column m-4 my-3" style="min-width: 500px;">
                          <h5 style="font-size: 18px;"><%= User.find_by(id: comment.user_id).username %></h5>

                          <div class="d-flex mb-3">
                            <% count = 1 %>
                            <% while count <= comment.rating do %>
                              <%= image_tag 'color-star.png', style: 'height:18px; width:18px; margin-right: 3px;' %>
                              <% count = count + 1 %>
                            <% end %>

                            <% while count <= 5 do %>
                              <%= image_tag 'star.png', style: 'height:18px; width:18px; margin-right: 3px;' %>
                              <% count = count + 1 %>
                            <% end %>
                          </div>
                          <span class="mb-2" style="color: black;"><%= comment.description %></span>
                          <span style="font-size: 14px; color: grey;"> <%= comment.created_at %> </span>
                        </div>

                        <div class="mt-3" style="margin-left: 20px;">
                          <button class="btn" style="background-color: darkred; cursor: default;"> 
                            <div>
                              <%= image_tag 'report.png', style: 'height:23px; width:23px;' %>
                            </div>
                          </button>
                        </div>
                      </div>
                    <% end %>
                  </div>

                  <div class="tab-pane ms-2 me-2 mb-3 fade" id="menu2">
                    <% @top_comments = @four_comments.first(10) %>

                    <% @top_comments.each do |comment| %>
                      <div class="d-flex" style="background-color: white; border-radius: 20px; margin-top: 30px; height: auto; min-width: 450px">
                        <div class="d-flex flex-column m-4 my-3" style="min-width: 500px;">
                          <h5 style="font-size: 18px;"><%= User.find_by(id: comment.user_id).username %></h5>

                          <div class="d-flex mb-3">
                            <% count = 1 %>
                            <% while count <= comment.rating do %>
                              <%= image_tag 'color-star.png', style: 'height:18px; width:18px; margin-right: 3px;' %>
                              <% count = count + 1 %>
                            <% end %>

                            <% while count <= 5 do %>
                              <%= image_tag 'star.png', style: 'height:18px; width:18px; margin-right: 3px;' %>
                              <% count = count + 1 %>
                            <% end %>
                          </div>
                          <span class="mb-2" style="color: black;"><%= comment.description %></span>
                          <span style="font-size: 14px; color: grey;"> <%= comment.created_at %> </span>
                        </div>

                        <div class="mt-3" style="margin-left: 20px;">
                          <button class="btn" style="background-color: darkred; cursor: default;"> 
                            <div>
                              <%= image_tag 'report.png', style: 'height:23px; width:23px;' %>
                            </div>
                          </button>
                        </div>
                      </div>
                    <% end %>
                  </div>

                  <div class="tab-pane ms-2 me-2 mb-3 fade" id="menu3">
                    <% @top_comments = @three_comments.first(10) %>

                    <% @top_comments.each do |comment| %>
                      <div class="d-flex" style="background-color: white; border-radius: 20px; margin-top: 30px; height: auto; min-width: 450px">
                        <div class="d-flex flex-column m-4 my-3" style="min-width: 500px;">
                          <h5 style="font-size: 18px;"><%= User.find_by(id: comment.user_id).username %></h5>

                          <div class="d-flex mb-3">
                            <% count = 1 %>
                            <% while count <= comment.rating do %>
                              <%= image_tag 'color-star.png', style: 'height:18px; width:18px; margin-right: 3px;' %>
                              <% count = count + 1 %>
                            <% end %>

                            <% while count <= 5 do %>
                              <%= image_tag 'star.png', style: 'height:18px; width:18px; margin-right: 3px;' %>
                              <% count = count + 1 %>
                            <% end %>
                          </div>
                          <span class="mb-2" style="color: black;"><%= comment.description %></span>
                          <span style="font-size: 14px; color: grey;"> <%= comment.created_at %> </span>
                        </div>

                        <div class="mt-3" style="margin-left: 20px;">
                          <button class="btn" style="background-color: darkred; cursor: default;"> 
                            <div>
                              <%= image_tag 'report.png', style: 'height:23px; width:23px;' %>
                            </div>
                          </button>
                        </div>
                      </div>
                    <% end %>
                  </div>

                  <div class="tab-pane ms-2 me-2 mb-3 fade" id="menu4">
                    <% @top_comments = @two_comments.first(10) %>

                    <% @top_comments.each do |comment| %>
                      <div class="d-flex" style="background-color: white; border-radius: 20px; margin-top: 30px; height: auto; min-width: 450px">
                        <div class="d-flex flex-column m-4 my-3" style="min-width: 500px;">
                          <h5 style="font-size: 18px;"><%= User.find_by(id: comment.user_id).username %></h5>

                          <div class="d-flex mb-3">
                            <% count = 1 %>
                            <% while count <= comment.rating do %>
                              <%= image_tag 'color-star.png', style: 'height:18px; width:18px; margin-right: 3px;' %>
                              <% count = count + 1 %>
                            <% end %>

                            <% while count <= 5 do %>
                              <%= image_tag 'star.png', style: 'height:18px; width:18px; margin-right: 3px;' %>
                              <% count = count + 1 %>
                            <% end %>
                          </div>
                          <span class="mb-2" style="color: black;"><%= comment.description %></span>
                          <span style="font-size: 14px; color: grey;"> <%= comment.created_at %> </span>
                        </div>

                        <div class="mt-3" style="margin-left: 20px;">
                          <button class="btn" style="background-color: darkred; cursor: default;"> 
                            <div>
                              <%= image_tag 'report.png', style: 'height:23px; width:23px;' %>
                            </div>
                          </button>
                        </div>
                      </div>
                    <% end %>
                  </div>

                  <div class="tab-pane ms-2 me-2 mb-3 fade" id="menu5">
                    <% @top_comments = @one_comments.first(10) %>

                    <% @top_comments.each do |comment| %>
                      <div class="d-flex" style="background-color: white; border-radius: 20px; margin-top: 30px; height: auto; min-width: 450px">
                        <div class="d-flex flex-column m-4 my-3" style="min-width: 500px;">
                          <h5 style="font-size: 18px;"><%= User.find_by(id: comment.user_id).username %></h5>

                          <div class="d-flex mb-3">
                            <% count = 1 %>
                            <% while count <= comment.rating do %>
                              <%= image_tag 'color-star.png', style: 'height:18px; width:18px; margin-right: 3px;' %>
                              <% count = count + 1 %>
                            <% end %>

                            <% while count <= 5 do %>
                              <%= image_tag 'star.png', style: 'height:18px; width:18px; margin-right: 3px;' %>
                              <% count = count + 1 %>
                            <% end %>
                          </div>
                          <span class="mb-2" style="color: black;"><%= comment.description %></span>
                          <span style="font-size: 14px; color: grey;"> <%= comment.created_at %> </span>
                        </div>

                        <div class="mt-3" style="margin-left: 20px;">
                          <button class="btn" style="background-color: darkred; cursor: default;"> 
                            <div>
                              <%= image_tag 'report.png', style: 'height:23px; width:23px;' %>
                            </div>
                          </button>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
